node_modules
.nitro
.output
dist
*.lock
bun.lockb
.data
oldtemplates
*.hbs

# Ignore Helm templates (they have Go templating syntax that prettier can't parse)
chart/templates/

# Ignore user-specific values file
chart/values.yaml
