{{- if or
  .Values.global.env.sensitive.REDIS_PASSWORD
  .Values.global.env.sensitive.REDIS_QUEUE_PASSWORD
  .Values.global.env.sensitive.EVE_CLIENT_ID
  .Values.global.env.sensitive.REDISQ_ID
  .Values.global.env.sensitive.OPENAI_API_KEY
}}
apiVersion: v1
kind: Secret
metadata:
  name: {{include "edk.fullname" .}}-secret
  labels:
    {{- include "edk.labels" . | nindent 4}}
type: Opaque
stringData:
  # Redis passwords (always include, default to empty string)
  REDIS_PASSWORD: {{.Values.global.env.sensitive.REDIS_PASSWORD | default "" | quote}}
  REDIS_QUEUE_PASSWORD: >-
    {{.Values.global.env.sensitive.REDIS_QUEUE_PASSWORD |
    default .Values.global.env.sensitive.REDIS_PASSWORD |
    default "" | quote}}
  {{- if .Values.global.env.sensitive.EVE_CLIENT_ID }}
  eve-client-id: {{ .Values.global.env.sensitive.EVE_CLIENT_ID | quote }}
  eve-client-secret: {{ .Values.global.env.sensitive.EVE_CLIENT_SECRET | quote }}
  eve-client-redirect: {{ .Values.global.env.sensitive.EVE_CLIENT_REDIRECT | quote }}
  {{- end }}
  {{- if .Values.global.env.sensitive.EVE_CLIENT_ID_DEV }}
  eve-client-id-dev: {{ .Values.global.env.sensitive.EVE_CLIENT_ID_DEV | quote }}
  eve-client-secret-dev: {{ .Values.global.env.sensitive.EVE_CLIENT_SECRET_DEV | quote }}
  eve-client-redirect-dev: {{ .Values.global.env.sensitive.EVE_CLIENT_REDIRECT_DEV | quote }}
  {{- end }}
  {{- if .Values.global.env.sensitive.REDISQ_ID }}
  redisq-id: {{ .Values.global.env.sensitive.REDISQ_ID | quote }}
  {{- end }}
  {{- if .Values.global.env.sensitive.OPENAI_API_KEY }}
  openai-api-key: {{ .Values.global.env.sensitive.OPENAI_API_KEY | quote }}
  {{- end }}
  {{- if .Values.global.env.sensitive.AI_MODEL }}
  ai-model: {{ .Values.global.env.sensitive.AI_MODEL | quote }}
  {{- end }}
  {{- if .Values.global.env.sensitive.TAVILY_API_KEY }}
  tavily-api-key: {{ .Values.global.env.sensitive.TAVILY_API_KEY | quote }}
  {{- end }}
{{- end }}
