{{- if or .Values.global.env.sensitive.REDIS_PASSWORD .Values.global.env.sensitive.TYPESENSE_API_KEY }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "edk.fullname" . }}-secrets
  labels:
    {{- include "edk.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.global.env.sensitive.REDIS_PASSWORD }}
  redis-password: {{ .Values.global.env.sensitive.REDIS_PASSWORD | b64enc | quote }}
  {{- end }}
  {{- if .Values.global.env.sensitive.TYPESENSE_API_KEY }}
  typesense-api-key: {{ .Values.global.env.sensitive.TYPESENSE_API_KEY | b64enc | quote }}
  {{- end }}
{{- end }}
