<!-- Character Kills Page -->

<!-- Character Stats Header -->
{{> partials/entity-stats}}

<!-- Character Navigation Tabs -->
{{> partials/entity-navbar}}

<!-- Kills List -->
<div class="killlist">
    <div class="block-header2">All Kills</div>

    <!-- Pagination Top -->
    {{> partials/pagination pagination=pagination}}

    {{> partials/killmail-list killmails=killmails}}

    <!-- Pagination Bottom -->
    {{> partials/pagination pagination=pagination}}
</div>
