<!-- Character Kills Page -->

<!-- Character Stats Header -->
{{> partials/entity-stats}}

<!-- Character Navigation Tabs -->
{{> partials/entity-navbar}}

<!-- Pagination (Top) -->
{{#if pagination}}
    {{> partials/pagination pagination=pagination}}
{{/if}}

<!-- Kills List -->
<div style="margin-bottom: 20px;">
    {{> partials/killmail-list killmails=killmails}}
</div>

<!-- Pagination (Bottom) -->
{{#if pagination}}
    {{> partials/pagination pagination=pagination}}
{{/if}}
