<!-- Character Losses Page -->

<!-- Character Stats Header -->
{{> partials/entity-stats}}

<!-- Character Navigation Tabs -->
{{> partials/entity-navbar}}

<!-- Pagination (Top) -->
{{#if pagination}}
    {{> partials/pagination}}
{{/if}}

<!-- Losses List -->
<div style="margin-bottom: 20px;">
    {{> partials/killmail-list}}
</div>

<!-- Pagination (Bottom) -->
{{#if pagination}}
    {{> partials/pagination}}
{{/if}}
