<div class="box">
    <div class="box-header">Kills</div>
    <div class="box-content">
        <p>Recent killmails will be displayed here.</p>
        <p style="margin-top: 15px; color: #666;">
            This page is under construction and will be made fancy later.
        </p>
    </div>
</div>
