<!-- Entity Stats Header -->
{{> partials/entity-stats}}

<!-- Entity Navigation Tabs -->
{{> partials/entity-navbar}}

<!-- Losses List -->
<section style="margin-bottom: 20px;">
  <!-- Killlist Filters -->
  {{#if data.filterDefaults}}
  <div style="margin-bottom: 20px;">
    {{> partials/killlist-filters filterDefaults=data.filterDefaults baseUrl=data.baseUrl pagination=data.pagination}}
  </div>
  {{/if}}
  {{> partials/killmail-list killmails=data.killmails wsFilter=data.wsFilter}}
</section>
