<!-- Entity Stats Header -->
{{> partials/entity-stats}}

<!-- Entity Navigation Tabs -->
{{> partials/entity-navbar}}

<!-- Kills List -->
<section style="margin-bottom: 20px;">
  <!-- Killlist Filters -->
  {{#if filterDefaults}}
  <div style="margin-bottom: 20px;">
    {{> partials/killlist-filters filterDefaults=filterDefaults baseUrl=baseUrl pagination=pagination}}
  </div>
  {{/if}}
  {{> partials/killmail-list killmails=killmails wsFilter=wsFilter}}
</section>
