<tr class="data-table__row">
  <td class="data-table__cell data-table__cell--label">{{label}}</td>
  <td class="data-table__cell {{#if highlight}}data-table__cell--highlight{{/if}} {{classes}}">{{value}}</td>
</tr>
